*.tar.gz
.DS_Store
.idea
*/cache
wp-config.php
#**/wp-content/plugins/**
#**/wp-content/themes/**
**/wp-content/backup-db/**
**/wp-content/cache/**
**/wp-content/languages/**
**/wp-content/upgrade/**
**/wp-content/uploads/**
**/kusanagi-core/**
kusanagi-wp-configure.php
wp-kusanagi.php
wordpress/wp-content/advanced-cache.php
wordpress/wp-content/replace-class.php
wordpress/wp-content/translate-accelerator/*

